{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-8">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

            </div>
            <div class="col-8">
                {% if client %}
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                OAuth Client
                            </h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <!-- Heading -->
                            <h3 class="card-title">Secret</h3>

                            <p class="card-text">
                                {{ client.secret }}
                            </p>
                            <!-- Button -->
                            <form method="post" action="/profile/delete">
                                <button type="submit" class="btn btn-danger">Revoke</button>
                            </form>

                        </div>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Create OAuth Client
                            </h4>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/profile/add">
                                <div class="form-group">
                                    <label for="redirect_uri">Redirect uri</label>
                                    <input type="text" name="redirect_uri" class="form-control" id="redirect_uri" placeholder="http://example.com/callback">
                                </div>
                                <button type="submit" class="btn btn-primary">Create a token</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            Client ID
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-auto">
                                        <p class="small">
                                            {{ user.email }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
