{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <!-- CONTENT
    ================================================== -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 col-xl-4 my-5">

                <!-- Heading -->
                <h1 class="display-4 text-center mb-3">
                    Please sign in
                </h1>

                <!-- Form -->
                <form method="post">

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <!-- Email address -->
                    <div class="form-group">

                        <!-- Label -->
                        <label for="inputEmail">
                            Email Address
                        </label>

                        <!-- Input -->
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>

                    </div>

                    <!-- Password -->
                    <div class="form-group">

                        <!-- Label -->
                        <label for="inputPassword">
                            Password
                        </label>

                        <!-- Input group -->
                        <div class="input-group">

                            <!-- Input -->
                            <input type="password" name="password" id="inputPassword" class="form-control" required>

                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>

                    <!-- Submit -->
                    <button class="btn btn-lg btn-block btn-primary mb-3">
                        Login
                    </button>

                </form>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

{% endblock %}
