{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <!-- CONTENT
================================================== -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 col-xl-4 my-5">
                <!-- Heading -->
                <h1 class="display-4 text-center mb-3">
                    Make Friends
                </h1>

                <!-- Subheading -->
                <p class="text-muted text-center mb-5">
                    Here comes the social networking platform that you’ve been waiting for
                </p>

                <!-- Register -->
                <a href="/register" class="btn btn-lg btn-block btn-primary mb-3">
                    Sign up
                </a>

                <!-- Login -->
                <div class="text-center">
                    <small class="text-muted text-center">
                        Already have an account? <a href="/login">Log in</a>.
                    </small>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
