{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <!-- CONTENT
   ================================================== -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 col-xl-4 my-5">

                <!-- Heading -->
                <h1 class="display-4 text-center mb-3">
                    Sign up
                </h1>


                <!-- Form -->
                {{ form_start(registrationForm) }}

                    <!-- Email address -->
                    <div class="form-group">

                        {{ form_row(registrationForm.email) }}

                    </div>

                    <!-- Password -->
                    <div class="form-group">

                        {{ form_row(registrationForm.plainPassword) }}

                    </div>

                    <!-- Agree Terms -->
                    <div class="form-group">

                        {{ form_row(registrationForm.agreeTerms) }}

                    </div>

                    <!-- Submit -->
                    <button class="btn btn-lg btn-block btn-primary mb-3">
                        Sign up
                    </button>

                {{ form_end(registrationForm) }}

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->


{% endblock %}
